<h1>Dance in NYC</h1>

  <img src="../assets/images/profilePic1.jpg" height="250px" width="239">


<!-- HTML Example by Way2Tutorial.com -->
<!-- <div style="height:100px;width:400px;border:solid 2px orange;overflow:scroll;overflow-x:hidden;overflow-y:scroll;">
<p style="height:200px;">
Scroll box automatic set in scroll in vertical scrollbar....<br /><br />
Scroll box automatic set in scroll in vertical scrollbar....<br /><br />
Scroll box automatic set in scroll in vertical scrollbar....<br /><br />
Scroll box automatic set in scroll in vertical scrollbar....</p>
</div>
<p><a href="http://www.way2tutorial.com/html/example/index.php">HTML Example</a></p> -->


<dl>
<!-- <p style="height:200px;"> -->
  <!-- sort array of string hashes -->
<% @results.sort_by do |listing| %>
    <dt><%= listing['event_name'] %>
    <dd class='venue'><%= listing['venue_name'] %>
    <dd class='address'><%= listing['street_address'] %>
    <dd class='when'><%= listing['date_time_description'] %>
    <dd class='description'><%= listing['web_description'] %>
<% end %>
</dl>

<!-- <dl>
  <% @events.each do |key, value| %>
    <dt><%# key %>
    <dd><%# value %>

  <% end %>
</dl> -->
