<div><h1>Cultural Events</h1></div>

<div>
  <%= select_tag "event", options_for_select([["Dance", 1], ["Theater", 2], ["Movies", 3]], 1)%>
</div

<div class = "eventBox">
  <dl>
    <!-- sort array of string hashes -->
    <% @results.sort_by do |listing| %>
        <dt><%= listing['event_name'] %>
        <dd class='venue'><%= listing['venue_name'] %>
        <dd class='address'><%= listing['street_address'] %>
        <dd class='when'><%= listing['date_time_description'] %>
        <dd class='description'><%= listing['web_description'].html_safe %>
    <% end %>
  </dl>
</div><!--eventBox-->


<!-- <dl>
  <% @events.each do |key, value| %>
    <dt><%# key %>
    <dd><%# value %>

  <% end %>
</dl> -->
